@charset "ISO-8859-1";
/*body background color.*/
body {
    background-color: #2f303a;
}
/*Removing underline from hyper
links.*/
a {
    text-decoration: none;
    color: #ff7a18;
}
.cnt{
	width:auto;
	flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
	justify-content: center; 
    align-items: center;
    
}
form .input {
	min-width: 500px;
	width: 600px;
	justify-content: center; 
    align-items: center;
}
/*navbar bakground color change.
*/
.navbar {
    background-color: #ffffff;
    overflow: hidden;
}
/* Spaces between items are 
increased in the navbar.*/
.navbar-brand {
    padding-left: 40px;
}
/* Spaces between items 
are increased in the navbar.*/
.nav-item {
    padding-left: 30px;
    padding-right: 30px;
}
/**/
.nav-link:hover {
    background-color: #1E90FF;
    border-radius: 25px;    
}
a:hover {
    color: #00ff6a;
}
/* Search bar with rounded corners
and white & blue background.*/
.navbar1 {
    background-color: #0000ff;
    border-radius: 25px;
}
/* Search bar with rounded corners
and white & blue background.*/
.btn {
    color: #ffffff;
    border: none;
    border-radius: 25px;
}
/* Search bar with rounded corners
and white & blue background.*/
.form-control1 {
    color: #555555;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    width: 299px;
    margin-left: -20px;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 

}

.stripe{
	background-color: #000000;
    width: auto;
    height: 25px;
    position: relative;
    flex-direction: raw;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}
/*box config.*/
.box {
    background-color: #ffffffea;
    width: auto;
    height: auto;
    position: relative;
    flex-direction: raw;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
		
}
.boxii {
    background-color: #ffffffea;
    width: auto;
    height: 556px;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    background-image: url("https://www.w3schools.com/about/w3codes.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
		
}

.boxi {
    background-color: #ffffff;
    width: auto;
    height: 556px;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}

.boxz {
    width: auto;
    height: 556px;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    background-image: url("https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

/*can be used to add spacing 
between items stacked on 
top of each other.*/
.padding {
    padding-bottom: 1%;
}
.block {
    background-color: #2f303a;
    width: auto;
    height: auto;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}
/*container.*/
.asuad {
    background-color: #eeeeef;
    width: 498px;
    height: auto;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.sanduk {
    margin-top:50px;
    margin-bottom:50px;
    width: 100%;
    height: auto;
    background-color: #2f303a;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    postition:relative;
}
.sanduk1 {
    margin-top:50px;
    margin-bottom:50px;
    width: 1830px;
    height: auto;
    background-color: #000000;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    align-content: space-around;
    position: relative;
}
.sanduk1:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 80px solid #2f303a;
    border-right: 80px solid black;
    width: 0;
}
.sanduk1:after {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 80px solid #2f303a;
    border-left: 80px solid black;
    width: 0;
}
.container {
    width: auto;
    height: auto;
    position: static;
    flex-direction:row;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-content: space-around;
    align-items: center;  
}
.sec {
    margin-bottom: 2%;
    width: auto;
    height: auto;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: top; 
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
}

.sec1 {
    padding-top: 2%;
    margin-bottom: 2%;
    width: auto;
    height: auto;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    overflow: scroll;
   	
}
/*white boxes config.*/
.boxw {
    background-color: #000000;
    color: #1d19f6;
    width: 100% !important;
    height: 493px;
    position: relative;
}

.box1 {
    background-color: #ffffff;
    color: #1d19f6;
    width: 370px;
    height: 393px;
    position: relative;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap; 
    text-align:center;
    justify-content: center; 
    align-items: center;
    text-shadow: 2px 2px 4px 
    #eeeeef
    #494848;
}
.box1:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 50px solid #eeeeef;
    border-right: 50px solid #ffffff;
    width: 0;
}
.box1:after {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 50px solid #eeeeef;
    border-left: 50px solid #ffffff;
    width: 0;
}
/*white box1 moves slightly to the right.*/
.box1:hover {
     margin-right: 900px;
}
.box1:hover {
  margin-right: 50px;    
  transition: margin-right .10s;
  -moz-transition: margin-right .5s; /* Firefox 4 */
  -webkit-transition: margin-right .5s; /* Safari and Chrome */
  -o-transition: margin-right .5s; /* Opera */
}
.box2 {
    width: auto;
    display: flex;
    background-color: #000000;
    padding: 15px 15px 15px 15px;
}
table {
  	font-family: arial, sans-serif;
  	border-collapse: collapse;
  	width: auto;
}

td, th {
  border: 1px solid;
  text-align: left;
  padding: 8px;
  color:white;
  background-color:#80023255;
}

tr:nth-child(even) {
  background-color: rgb(0, 0, 255);
   
}

.profile-content {
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: #ffffffea;
    display: flex;
}

#edit-overlay {
    position: fixed; /* Sit on top of the page content */
    width: 280px; /* Full width (cover the whole page) */
    height: 350px; /* Full height (cover the whole page) */
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.edit-form  {
      text-align: center;
  }

.edit-form label {
      margin-top: 25px;
      margin-bottom: 5px;
      color: lightgray;
  }

.save-changes {
    margin-top: 25px;
}

.profile-left {
    margin: 20px;
    width: 220px;
    height: 100%;
    text-align: center;
}

.profile-picture img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.profile-picture {
    margin: auto;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    border: 6px solid black;
    border-radius: 3px;
}

.profile-right {
    margin: 20px;
}

.bio {

}

.biotitle {
    text-align: center;
}
/*footer config*/
footer {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2f303a;
    padding: 15px 15px 15px 15px;
    color: #ffffff;
}
